.chart{
    
    flex:1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: black;

    .title{
        margin-bottom: 20px;
    }
    .bar{
        display: flex;
       gap: 100px;
       
       
    }
    .Visit{
        color: rgb(79, 172, 186);
        display: flex;
    }
    .Sale{
        color:red;
        display: flex;
        
    }
  
}