.x{
    flex:2;
   .x1{
    display: flex;
    justify-content: space-between;
   }
    gap:30px;
        height: 200px;
        width: 300px;
        .bottom{
            display: flex;
            justify-content: space-between;
            
            .pics{
                .pic1{
                    
                    img{
                       margin-top: 20px;
                        width: 60px;
                       height: 60px;
                       border-radius: 50%;
                       margin-left: 10px;
                       
                    }
                }
                        .pic2{
                    img{
                        width: 60px;
                       height: 60px;
                       border-radius: 50%;
                       margin-left: 10px;
                    }
                }
                .pic3{
                         img{
                        width: 60px;
                       height: 60px;
                       border-radius: 50%;
                       margin-left: 10px;
                    }
                }
            }
            .name{
                
                justify-content: center;
                
                .name1{
                    margin-top: 30px;
                    height: 40px;
                    margin-right: 100px;
                    .ui{
                        font-size: 12px;
                        color: gray;
                    }
                }
                .name2{
                    margin-top: 20px;
                    height: 40px;
                    .ui{
                        font-size: 12px;
                        color: gray;
                    }
                }
                .name3{
                    margin-top: 30px;
                    height: 40px;
                    .ui{
                        font-size: 12px;
                        color: gray;
                    }
                }
            }
            .money{
                .mo1{
                    margin-top: 30px;
                    height: 40px;
                    margin-right: 10px;

                    color: rgb(79, 172, 186);
                }
                .mo2{
                    margin-top: 20px;
                    height: 40px;
                    color: rgb(79, 172, 186);
                }
                .mo3{
                    margin-top: 30px;
                    height: 40px;
                    color:rgb(79, 172, 186);
                }
            }
        }
    
}